*{

  font-family: 'Lato', sans-serif;
}

body{
  background-color: aqua;
}
li{
  color: blue;
}
p{
  color: red;
}
.classforContact{
  background-color: black;
}
#idselecter{
  background-color:orange;
}


  p{
    color: red;
  }
  label{
    color: blue;
  }

  input:invalid{
    border: 2px dashed red;
  }

  input:valid{
    border: 2px solid black;
  }

  textarea:invalid{
    border: 2px dashed red;
  }
  textarea:valid{
      border: 2px solid black;
  }
